
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MiniWiki</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="new">{{ 'NEW_TTILE' | translate }}</a></li>

        <li>
          <form class="form-group" ng-submit="authentificate()">
            <input type="text" ng-model="user.login" class="form-control" placeholder="login">
            <input type="text" ng-model="user.password" class="form-control" placeholder="password">
            <button class="form-control"  ng-model="login">se connecter</button>
          </form>
        </li>
     
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>